## Preprocessing

In [1]:
# Import our dependencies
import warnings\

warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
#Determine number of unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
app_count = application_df['APPLICATION_TYPE'].value_counts()
print(app_count)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
list_index = [i for i, x in enumerate(app_count) if x < 250]
application_types_to_replace = [app_count.index[x] for x in list_index]

for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")
# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
class_count = application_df['CLASSIFICATION'].value_counts()
print(class_count)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C4200        1
C2500        1
C2600        1
C2170        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
list_index_class = [i for i, x in enumerate(class_count) if x < 1800]
classifications_to_replace = [class_count.index[x] for x in list_index_class]

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_dummies = pd.get_dummies(application_df)
application_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_dummies['IS_SUCCESSFUL'].values
X = application_dummies.drop(['IS_SUCCESSFUL'], axis = 1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
dim= len(X_train_scaled[0])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=dim*2, activation="relu", input_dim=dim))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=dim/2, activation="relu"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\Andrew\anaconda3\envs\venv\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 86)                3784
_________________________________________________________________
dense_1 (Dense)              (None, 21)                1827
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 22
=================================================================
Total params: 5,633
Trainable params: 5,633
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\Andrew\anaconda3\envs\venv\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [13]:
# Train the model

mc = tf.keras.callbacks.ModelCheckpoint('training/weights{epoch:04d}.h5', 
                                     save_weights_only=True, save_freq=5)
fit_model = nn.fit(X_train_scaled, y_train, epochs=50, callbacks=[mc])

Epoch 1/50
25724/25724 [==============================] - 9s 369us/sample - loss: 0.5694 - acc: 0.7217
Epoch 2/50
25724/25724 [==============================] - 9s 362us/sample - loss: 0.5553 - acc: 0.7275
Epoch 3/50
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5522 - acc: 0.7302
Epoch 4/50
25724/25724 [==============================] - 9s 360us/sample - loss: 0.5498 - acc: 0.7321
Epoch 5/50
25724/25724 [==============================] - 9s 357us/sample - loss: 0.5491 - acc: 0.7299
Epoch 6/50
25724/25724 [==============================] - 9s 363us/sample - loss: 0.5479 - acc: 0.7303
Epoch 7/50
25724/25724 [==============================] - 9s 366us/sample - loss: 0.5476 - acc: 0.7310
Epoch 8/50
25724/25724 [==============================] - 9s 365us/sample - loss: 0.5463 - acc: 0.7329
Epoch 9/50
25724/25724 [==============================] - 9s 365us/sample - loss: 0.5467 - acc: 0.7331
Epoch 10/50
25724/25724 [==============================] - 9s 360us/sample - loss: 0.5453 - acc: 0.7331s - loss:
Epoch 11/50
25724/25724 [==============================] - 9s 355us/sample - loss: 0.5452 - acc: 0.7332
Epoch 12/50
25724/25724 [==============================] - 9s 355us/sample - loss: 0.5447 - acc: 0.7350
Epoch 13/50
25724/25724 [==============================] - 10s 381us/sample - loss: 0.5445 - acc: 0.7341 - loss: 0.5437 - acc:
Epoch 14/50
25724/25724 [==============================] - 9s 360us/sample - loss: 0.5440 - acc: 0.7332
Epoch 15/50
25724/25724 [==============================] - 10s 381us/sample - loss: 0.5437 - acc: 0.7341
Epoch 16/50
25724/25724 [==============================] - 10s 394us/sample - loss: 0.5431 - acc: 0.7335
Epoch 17/50
25724/25724 [==============================] - 10s 397us/sample - loss: 0.5433 - acc: 0.7364
Epoch 18/50
25724/25724 [==============================] - 10s 402us/sample - loss: 0.5430 - acc: 0.7346
Epoch 19/50
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5426 - acc: 0.7346
Epoch 20/50
25724/25724 [==============================] - 9s 362us/sample - loss: 0.5423 - acc: 0.7362
Epoch 21/50
25724/25724 [==============================] - 9s 359us/sample - loss: 0.5417 - acc: 0.7350
Epoch 22/50
25724/25724 [==============================] - 9s 354us/sample - loss: 0.5415 - acc: 0.7353
Epoch 23/50
25724/25724 [==============================] - 9s 362us/sample - loss: 0.5416 - acc: 0.7362
Epoch 24/50
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5413 - acc: 0.7355
Epoch 25/50
25724/25724 [==============================] - 9s 362us/sample - loss: 0.5409 - acc: 0.7366s - l - ETA: 0s - loss: 0.5411
Epoch 26/50
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5413 - acc: 0.7358
Epoch 27/50
25724/25724 [==============================] - 9s 365us/sample - loss: 0.5408 - acc: 0.7361
Epoch 28/50
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5409 - acc: 0.7352
Epoch 29/50
25724/25724 [==============================] - 10s 371us/sample - loss: 0.5406 - acc: 0.7365
Epoch 30/50
25724/25724 [==============================] - 10s 392us/sample - loss: 0.5405 - acc: 0.7360
Epoch 31/50
25724/25724 [==============================] - 10s 399us/sample - loss: 0.5398 - acc: 0.7369
Epoch 32/50
25724/25724 [==============================] - 10s 408us/sample - loss: 0.5404 - acc: 0.7362
Epoch 33/50
25724/25724 [==============================] - 11s 442us/sample - loss: 0.5398 - acc: 0.7371
Epoch 34/50
25724/25724 [==============================] - 12s 455us/sample - loss: 0.5397 - acc: 0.7368
Epoch 35/50
25724/25724 [==============================] - 11s 440us/sample - loss: 0.5395 - acc: 0.7375
Epoch 36/50
25724/25724 [==============================] - 10s 399us/sample - loss: 0.5394 - acc: 0.7362
Epoch 37/50
25724/25724 [==============================] - 10s 401us/sample - loss: 0.5395 - acc: 0.7372
Epoch 38/50
25724/25724 [==============================] - 10s 400us/sample - loss: 0.5390 - acc: 0.7353
Epoch 39/50
25724/25724 [==============================] - 10s 396us/sample - loss: 0.5393 - acc: 0.7366
Epoch 40/50
25724/25724 [==============================] - 10s 400us/sample - loss: 0.5387 - acc: 0.7369
Epoch 41/50
25724/25724 [==============================] - 10s 397us/sample - loss: 0.5386 - acc: 0.7375
Epoch 42/50
25724/25724 [==============================] - 10s 396us/sample - loss: 0.5388 - acc: 0.7376
Epoch 43/50
25724/25724 [==============================] - 10s 400us/sample - loss: 0.5388 - acc: 0.7381
Epoch 44/50
25724/25724 [==============================] - 10s 398us/sample - loss: 0.5387 - acc: 0.7383
Epoch 45/50
25724/25724 [==============================] - 10s 395us/sample - loss: 0.5383 - acc: 0.7373
Epoch 46/50
25724/25724 [==============================] - 10s 394us/sample - loss: 0.5383 - acc: 0.7386
Epoch 47/50
25724/25724 [==============================] - 10s 393us/sample - loss: 0.5383 - acc: 0.7384
Epoch 48/50
25724/25724 [==============================] - 10s 396us/sample - loss: 0.5380 - acc: 0.7373
Epoch 49/50
25724/25724 [==============================] - 10s 402us/sample - loss: 0.5380 - acc: 0.7379
Epoch 50/50
25724/25724 [==============================] - 10s 398us/sample - loss: 0.5380 - acc: 0.7389

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5565 - acc: 0.7263
Loss: 0.556520945987618, Accuracy: 0.7262973785400391

In [15]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('model/AlphabetSoupCharity')